<a href="#" target="_blank">
    <h3>Implementando um projeto client-side utilizando AngularJS + Node.JS + MongoDB</h3>
</a>
<div>
    <p>Este é um projeto exemplo do uso da arquitetura AngularJS + Node.JS + MongoDB. </p>
</div>